<h1 align="left">Rekisteröinti</h1>

<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>

  <div  align="left"class="field">
    <%= f.label :Nimi %><br />
    <%= f.text_field :name %>
  </div>
  <div  align="left"class="field">
    <%= f.label :"Sähköposti" %><br />
    <%= f.text_field :email %>
  </div>
  <div  align="left"class="field">
    <%= f.label :Salasana %><br />
    <%= f.password_field :password %>
  </div>
  <div  align="left"class="field">
    <%= f.label :password_confirmation, "Salasanan vahvistus" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

 <div class="field">
       <div class="form_row">
   <% [ 'Olen lukenut  Ajoneuvot-forumin käyttöehdot'].each do |theme| %>
    <br><%= radio_button_tag 'theme', theme, @theme == theme %>
    <%= label_tag "theme_#{theme}", theme.humanize %>
  <% end %>
</div>
<br>
</br>

  <div  align="left" align="center"class="actions">
    <%= f.submit "Tallenna" %>
  </div>
<% end %>

