<h1>30 viimeisint채</h1>
<!-- projects/index.rhtml -->
<% form_tag boat_posts_path, :method => 'get' do %>
  



<% end %>


<table>
  <tr>
    <th>Merkki</th>
    <th></th>
    <th>Malli</th>
    <th>Vuosimalli</th>
    <th>Hinta</th>
    <th>Moottori</th>
    <th>Myyj채</th>
    <th>Puhelin</th>
    <th>Paikkakunta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boat_posts.each do |boat_post| %>
  <tr>
    <td><%= boat_post.boat_make.name %></td>
    <td><%= boat_post.boat_cover_image.url %></td>
    <td><%= boat_post.boat_model %></td>
    <td><%= boat_post.boat_year_model %></td>
    <td><%= boat_post.boat_asking_price %></td>
    <td><%= boat_post.boat_engine_make_id %></td>
    <td><%= boat_post.boat_user_name %></td>
    <td><%= boat_post.boat_user_phone %></td>
    <td><%= boat_post.boat_town_type.name %></td>
    <td><%= link_to 'Show', boat_post %></td>
    <td><%= link_to 'Edit', edit_boat_post_path(boat_post) %></td>
    <td><%= link_to 'Destroy', boat_post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'J채t채 ilmoitus', new_boat_post_path %>
