<footer>
 <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %>
 
 <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %>

 <% logo = image_tag("VIP.jpeg", :alt => "BMW", :class => "round") %>
  <%= link_to logo, root_path %>

 <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
     <li><%= link_to "Usage rights", usage_path %></li>
    </ul>
  </nav>
</footer>

